<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>商品列表页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
</head>
<body>
    <!--topheader starts-->
    <div class="strip">
        <div class="top-menu">
            <span class="menu"> </span>
            <ul>
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/about}">About Us</a></li>
                <li><a th:href="@{/shopping}">Shop Online</a></li>
                <li><a th:href="@{/goods/toList}">秒杀商品</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <!-- script-for-nav -->
        <script>
            $( "span.menu" ).click(function() {
                $( ".top-menu ul" ).slideToggle( "slow", function() {
                    // Animation complete.
                });
            });
        </script>
        <!-- script-for-nav -->
    </div>
    <!--topheader ends-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">秒杀商品列表</h1>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" id="goodslist">
                <thead>
                    <tr style="font-size: 30px;">
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品原价</th>
                        <th>秒杀价</th>
                        <th>库存数量</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody class="text-center" style="font-size: 20px">
                    <tr th:each="goods,goodsStat : ${goodsList}">
                        <td th:text="${goods.goodsName}"></td>
                        <td ><img width="100" height="100" /></td>
                        <td th:text="${goods.goodsPrice}"></td>
                        <td th:text="${goods.miaoshaPrice}"></td>
                        <td th:text="${goods.stockCount}"></td>
                        <td><a th:href="'/goods/toDetail/'+${goods.id}">详情</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>